$main-color1: hsl(269.36deg 100% 72.35%);
$main-color2: hsl(286.29deg 65.22% 68.43%);
$main-color3: hsl(312.37deg 61.78% 69.22%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

nav {
  width: 100vw;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  h1 {
    font-size: 1.7rem;
    font-weight: 800;
  }
  .links {
    display: none;
  }
  .buttons {
    display: none;
  }
  .menu_btn {
    font-size: 1.7rem;
    font-weight: 800;
  }
}

.hero {
  width: 100vw;
  height: 85vh;
  padding: 1rem 1.1rem;
  // background-color: skyblue;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .main_text {
    width: 100%;
    // height: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .and {
      display: none;
    }
    h1 {
      font-size: 2.6rem;
      text-align: center;
      font-weight: 900;
      line-height: 1;
    }
    p {
      text-align: center;
      line-height: 1;
      font-weight: 500;
      opacity: 0.6;
    }
    .hero_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      button {
        cursor: pointer;
        padding: 0.5rem 1rem;
        border-radius: 0.2rem;
        border: none;
        font-size: 1rem;
        letter-spacing: -0.5px;
        font-weight: 600;
        text-transform: capitalize;
        background: linear-gradient(
          to right bottom,
          $main-color1,
          $main-color2,
          $main-color3
        );
        color: #fff;
      }
      div {
        display: flex;
        gap: 0.2rem;
        text-transform: capitalize;
        span {
          text-decoration: underline;
          text-decoration-color: $main-color1;
          letter-spacing: -1px;
          font-weight: 700;
          cursor: pointer;
        }
        i {
          color: $main-color3;
          font-size: 1.1rem;
        }
      }
    }
  }
  .hero_image {
    width: 100%;
    // height: 50%;
    // background-color: red;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.marquee {
  width: 100%;
  height: 10vh;
  background: linear-gradient(
    to right bottom,
    $main-color1,
    $main-color1,
    $main-color2,
    $main-color3
  );
  display: flex;
  gap: 1rem;
  align-items: center;
  overflow: hidden;
  img {
    width: 30%;
    filter: grayscale(100%);
  }
}

.search_course {
  width: 100%;
  padding: 1rem;
  h1 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    font-weight: 800;
    letter-spacing: -0.5px;
  }
  .search_bar {
    width: 100%;
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    .inputs {
      width: 100%;
      // background-color: red;
      position: relative;
      i {
        position: absolute;
        top: 50%;
        left: 2%;
        transform: translateY(-50%);
        color: $main-color2;
      }
      input {
        padding: 0.5rem 1.5rem;
        border: none;
        outline: none;
        border-radius: 0.5rem;
        box-shadow: 2px 2px 5px gray;
      }
    }
    .search_btn {
      cursor: pointer;
      padding: 0.5rem 1rem;
      border-radius: 0.3rem;
      border: none;
      font-size: 1rem;
      letter-spacing: -0.5px;
      font-weight: 600;
      text-transform: capitalize;
      background: linear-gradient(
        to right bottom,
        $main-color1,
        $main-color2,
        $main-color3
      );
      color: #fff;
    }
  }
  .courses_dets {
    width: 100%;
    .benifits {
      width: 100%;
      padding: 0.5rem 0.5rem;
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      .teacher_image {
        .backbox {
          aspect-ratio: 1/1;
          // background-color: red;
          border-radius: 30%;
          border: 5px dashed $main-color1;
          padding: 0.4rem;
          .mainbox {
            aspect-ratio: 1/1;
            // background-color: green;
            border-radius: 30%;
            overflow: hidden;
            display: grid;
            grid-template-areas:
              "a b"
              "c d";
          }
          .subboxes_1 {
            grid-area: a;
            background-color: $main-color3;
            border-bottom-right-radius: 50%;
            background-image: url(asset/girl1.webp);
            background-size: cover;
          }
          .subboxes_2 {
            grid-area: b;
            background-color: $main-color1;
            border-bottom-left-radius: 50%;
            background-image: url(asset/boy1.webp);
            background-size: cover;
          }
          .subboxes_3 {
            grid-area: c;
            background-color: $main-color1;
            border-top-right-radius: 50%;
            background-image: url(asset/girl2.png);
            background-size: cover;
          }
          .subboxes_4 {
            grid-area: d;
            background-color: $main-color3;
            border-top-left-radius: 50%;
            background-image: url(asset/boy2.png);
            background-size: cover;
          }
          // .subbox{
          //   img{
          //     width: 100%;
          //     height: 100%;
          //     object-fit: cover;
          //   }
          // }
        }
      }
      .course_benifits {
        width: 100%;
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        h1 {
          text-align: start;
          span {
            line-height: 1;
            background: linear-gradient(
              to bottom,
              $main-color1,
              $main-color2,
              $main-color3
            );
            color: transparent;
            -webkit-background-clip: text;
          }
        }
        .benifit_details {
          width: 100%;
          margin-top: 1rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .benifit_detail {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            // background-color: red;
            .left {
              width: 3rem;
              height: 3rem;
              background-color: $main-color1;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .right {
              width: calc(100% - 3rem);
              h1 {
                font-size: 1.3rem;
                font-weight: 800;
                line-height: 1;
                opacity: 0.9;
                text-transform: capitalize;
              }
              p {
                line-height: 1;
                opacity: 0.7;
              }
            }
            img {
              width: 80%;
              height: 80%;
              object-fit: cover;
            }
            i {
              font-size: 1.7rem;
              color: #fff;
            }
          }
          .benifit_detail:nth-child(even) {
            .left {
              background-color: $main-color3;
            }
          }
        }
      }
    }
  }
}

.courses {
  width: 100%;
  background: linear-gradient(
    to right bottom,
    $main-color1,
    $main-color1,
    $main-color2,
    $main-color2,
    $main-color3,
    $main-color3
  );
  padding: 1rem;
  .top {
    width: 100%;
    text-align: center;
    color: #fff;
    h1 {
      font-weight: 900;
      text-transform: capitalize;
      letter-spacing: -0.5px;
      font-size: 1.8rem;
      line-height: 1;
      margin-bottom: 0.5rem;
    }
    p {
      line-height: 1;
      font-weight: 500;
    }
  }
  .bottom {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .card {
      width: 100%;
      padding: 1rem;
      border-radius: 1rem;
      box-shadow: 1px 1px 5px gray;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .img {
        aspect-ratio: 3/2;
        border-radius: 1rem;
        background-color: rgb(213, 214, 215);
        border: 1px solid gray;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .btns {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 0.5rem;
        button {
          padding: 0.2rem 0.3rem;
          border: none;
          background: linear-gradient(
            to right,
            $main-color1,
            $main-color2,
            $main-color3
          );
          border-radius: 0.2rem;
          color: #fff;
          text-transform: capitalize;
          font-weight: 700;
        }
      }
      .headings {
        width: 100%;
        padding: 0 0.3rem;
        text-transform: capitalize;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1;
      }
      .details {
        width: 100%;
        padding: 0 0.3rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        span {
          display: flex;
          gap: 0.3rem;
          text-transform: capitalize;
          opacity: 0.7;
          i {
            color: $main-color1;
          }
        }
      }
      .price {
        padding: 0 0.3rem;
        font-size: 2rem;
        line-height: 1;
        font-weight: 700;
      }
    }
  }
}

.job {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  .left {
    h1 {
      text-transform: capitalize;
      font-size: 2rem;
      letter-spacing: -1.1px;
      font-weight: 800;
      line-height: 1;
      br {
        display: none;
      }
      span {
        background: linear-gradient(
          to right,
          $main-color1,
          $main-color2,
          $main-color3
        );
        color: transparent;
        -webkit-background-clip: text;
      }
      margin-bottom: 0.5rem;
    }
    p {
      line-height: 1;
      // font-size: 1rem;
      margin-bottom: 1.5rem;
    }
    h2 {
      text-transform: capitalize;
      font-size: 1.7rem;
      font-weight: 800;
      letter-spacing: -1.1px;
      margin-bottom: 0.5rem;
    }
    div {
      display: flex;
      padding: 0 1rem;
      gap: 1.5rem;
      ul {
        line-height: 1;
        li::marker {
          color: $main-color2;
          font-size: 1.3rem;
        }
      }
    }
    button {
      margin-top: 1rem;
      margin-bottom: 2rem;
      border: none;
      padding: 0.5rem 1rem;
      color: #fff;
      background: linear-gradient(
        to right bottom,
        $main-color1,
        $main-color2,
        $main-color3
      );
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: -0.7px;
      border-radius: 0.3rem;
    }
  }
  .right {
    padding: 0 2.5rem;
    // background-color: green;
    .backbox {
      aspect-ratio: 2/1;
      width: 100%;
      // background-color: red;
      border: 4px dashed $main-color1;
      padding: 0.4rem;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      .mainbox {
        aspect-ratio: 1/1;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        overflow: hidden;
        background: linear-gradient(
          to right bottom,
          $main-color1,
          $main-color2,
          $main-color3
        );
        display: flex;
        align-items: end;
        justify-content: center;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.testimonials{
  width: 100%;
  background: linear-gradient(
    to right bottom,
    $main-color1,
    $main-color1,
    $main-color2,
    $main-color2,
    $main-color3,
    $main-color3
  );
  padding: 1rem;
  .top {
    width: 100%;
    text-align: center;
    color: #fff;
    h1 {
      font-weight: 900;
      text-transform: capitalize;
      letter-spacing: -0.5px;
      font-size: 1.8rem;
      line-height: 1;
      margin-bottom: 0.5rem;
    }
    p {
      line-height: 1;
      font-weight: 500;
    }
  }
  .bottom {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .card {
      width: 100%;
      padding: 1rem;
      border-radius: 1rem;
      box-shadow: 1px 1px 5px gray;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .img {
        aspect-ratio: 3/2;
        border-radius: 1rem;
        background-color: rgb(213, 214, 215);
        border: 1px solid gray;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .btns {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 0.5rem;
        button {
          padding: 0.2rem 0.3rem;
          border: none;
          background: linear-gradient(
            to right,
            $main-color1,
            $main-color2,
            $main-color3
          );
          border-radius: 0.2rem;
          color: #fff;
          text-transform: capitalize;
          font-weight: 700;
        }
      }
      .headings {
        width: 100%;
        padding: 0 0.3rem;
        text-transform: capitalize;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1;
      }
      .details {
        width: 100%;
        padding: 0 0.3rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        span {
          display: flex;
          gap: 0.3rem;
          text-transform: capitalize;
          opacity: 0.7;
          i {
            color: $main-color1;
          }
        }
      }
      .price {
        padding: 0 0.3rem;
        font-size: 2rem;
        line-height: 1;
        font-weight: 700;
      }
    }
  }
}

@media (min-width: 1024px) {
  nav {
    padding: 0.5rem 3rem;
    .links {
      display: block;
      a {
        padding-left: 1rem;
        font-size: 1.1rem;
        font-weight: 600;
        cursor: pointer;
      }
    }
    .buttons {
      display: flex;
      gap: 1rem;
      button {
        cursor: pointer;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: none;
        font-size: 1rem;
        letter-spacing: -0.5px;
        font-weight: 600;
      }
      .btn1 {
        padding: 1px 1px;
        background: linear-gradient(
          to right bottom,
          $main-color1,
          $main-color2,
          $main-color3
        );
        border-radius: 0.5rem;
      }
      button:nth-child(1) {
        background-color: #fff;
      }
      button:nth-child(2) {
        text-transform: capitalize;
        background: linear-gradient(
          to right bottom,
          $main-color1,
          $main-color2,
          $main-color3
        );
        color: #fff;
      }
    }
    .menu_btn {
      display: none;
    }
  }

  .hero {
    flex-direction: row;
    .main_text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.2rem;
      .and_symbol {
        display: none;
      }
      .and {
        display: block;
      }
      h1 {
        text-align: center;
        font-weight: 800;
        line-height: 1.1;
      }
      .hero_btn {
        width: 100%;
        justify-content: center;
      }
    }
    .hero_image {
      img {
        object-fit: contain;
      }
    }
  }

  .marquee {
    justify-content: center;
    gap: 3rem;
    img {
      width: 12%;
    }
  }

  .search_course {
    .search_bar {
      .inputs {
        width: 100%;
        input {
          width: 20vw;
        }
      }
    }
    .courses_dets {
      .benifits {
        flex-direction: row;
        align-items: center;
        // gap: 10rem;
        // background-color: green;
        .teacher_image {
          width: 43%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .backbox {
            width: 50%;
            height: 100%;
          }
        }
        .course_benifits {
          width: 50%;
          height: 100%;
          margin-top: 0;
        }
      }
    }
  }

  .courses {
    .top {
      p {
        padding: 0 25rem;
      }
    }
    .bottom {
      flex-direction: row;
      justify-content: center;
      gap: 1.5rem;
      .card {
        width: 25%;
      }
    }
  }

  .job {
    flex-direction: row;
    padding: 3rem 10rem;
    // background-color: red;
    .left {
      h1 {
        br {
          display: block;
        }
      }
    }
    .right {
      // display: flex;
      // justify-content: end;
      padding: 0rem 0rem;
      // background-color: green;
      .backbox {
        width: 70%;
        height: 100%;
        .mainbox {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .testimonials{
    .bottom{
      flex-direction: row;
    }
  }
}
